extends layout

block content
  //- h1 Go Space Projetct 
  //- p.lead Nasa Space Apps Challenge
  hr
  .row
    <div class="hero-container daily">
      <div class="content-wrapper">
        <h2 data-w-id="05bb3b3a-b279-db47-8539-24dd75270b57" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" class="heading-2">The Universe is the Limit</h2>
        <p style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" class="body-text dark">Designing knowledge, enhance your learning and shaping your future</p>
        if !user
          <a href="/signup" target="_blank" style="max-width: 200px;" class="cta-upper w-inline-block">
            <div class="text-block" style="width: 100%; text-align: center;">Sign Up</div>
          </a>
      </div>
      <div class="content-wrapper _2">
        <img src="images/astronaut.png" width="768" alt="" class="image-6 astronaut">
      </div>
    </div>

