doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Hackathon Starter
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    block head

  body
    include partials/header

    <div id="work" class="section work" style="height: 100%;">
      <img src="images/dot-square.svg" alt="" class="dot-square _3">
      <img src="images/stars.svg" alt="" class="stars">
      <img src="images/stars.svg" alt="" class="stars _2">
      <img src="images/Oval.svg" width="116" alt="" class="moon">
      <img src="images/Rectangle.svg" alt="" class="rectangle _2">
      <img src="images/Rectangle.svg" alt="" class="rectangle">
      <img src="images/dot-square.svg" alt="" class="dot-square">
      <img src="images/dot-square.svg" alt="" class="dot-square _2">
      <img src="images/Oval2.svg" alt="" class="moon2">
      .container
        include partials/flash
        block content
    </div>

    include partials/footer

    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/popper.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    // Global site tag (gtag.js) - Google Analytics
    script(async, src='https://www.googletagmanager.com/gtag/js?id=G-KBRXVGHEMS')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-KBRXVGHEMS');
