extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Your achievements across the Universe


    <div>
        <ul class="universe-challenges">
            <li class="challenge-1">
                <a href="#">
                    <img src="images/meteor.png">
                    <div class="title">Astrophysics</div>
                </a>
            </li>
            <li class="challenge-2">
                <a href="#">
                    <img src="images/saturn.png">
                    <div class="title">Planets</div>
                </a>
            </li>
            <li class="challenge-3">
                <a href="#">
                    <img src="images/solar-system.png">
                    <div class="title">Constellations</div>
                </a>
            </li>
            <li class="challenge-4">
                <a href="#">
                    <img src="images/blackhole.png">
                    <div class="title">Heliophysics</div>
                </a>
            </li>
            <li class="challenge-5">
                <a href="#">
                    <img src="images/project.png">
                    <div class="title">Earth</div>
                </a>
            </li>
        </ul>
    </div>
    <div data-w-id="e641de60-c9e1-30bb-771c-9eb5b52d995b" class="hero-container work-pages">
      <div class="project-wrapper">
        <div class="project-image" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
            <img src="images/astronaut.png" alt="">
        </div>
        //- <div class="project-description" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
        //-   <div class="div-block-8">
        //-     <h5 class="heading-4 project-type">WEB DESIGN</h5>
        //-     <h5 class="heading-4 project-type">ILLUSTRATIONS</h5>
        //-   </div>
        //-   <h2 class="heading-2 project-title">We help Netwebo to achieve their goals with Perfect Web Design</h2>
        //- </div>
      </div>
    </div>